{
  "mcpServers": {
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@playwright/mcp@0.0.79",
        "--allow-unrestricted-file-access",
        "--isolated",
        "--headless",
        "--browser",
        "chromium"
      ],
      "env": {}
    }
  }
}
